body{height: 100vh} 
.product-page{
    grid-area: cont;
    color: var(--dark1);
    background-color: var(--light1);
    position: relative;
    padding: 10px;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "pic data "
    "pic data"
    "pic data "
    "pic data";
    column-gap: 5%;
}
@media screen and (max-width:850px){
        .product-page{
        gap: 0;
        grid-template-columns: 4fr 2fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "pic pic "
        "data data"
    }
}
img{
    grid-area: pic;
    border-radius: inherit;
    width: 100%;
}
.product-data{
    grid-area: data;  
    display: flex;
    flex-direction: column;
    position: relative;
}
.product-data>*{
    margin: 10px;
}
.product-data>h1{
    font-family: inherit;

}
footer{
    position: absolute;
    bottom: -293px;
    width: 100%;    
}
.old-price{
    bottom: 5px; left: 25%;
}
.cart-btn{
    font-size: var(--FS-small);
}
